body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-image: url("bg%20image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

h1 {
    text-align: center;
    margin: 20px auto;
    font-size: 32px;
    color: white;
    padding: 15px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 7px;
    display: block;
    width: 60%;
    max-width: 600px;
}

h2 {
    text-align: center;
    font-size: 28px;
    color: white;
}

.input-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.input-section label {
    font-weight: bold;
    margin-right: 10px;
}

.input-section input[type="number"], .input-section input[type="date"] {
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.input-section button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.input-section button:hover {
    background-color: #45a049;
}

.expenses-list {
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: black;
    color: white;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    background-color: black;
    color: white;
}

th {
    background-color: #4CAF50;
    color: white;
}

tfoot td {
    font-weight: bold;
}

.delete-btn {
    padding: 5px 10px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-btn:hover {
    background-color: #e53935;
}

@media (max-width: 600px) {
    .input-section {
        flex-direction: column;
        align-items: flex-start;
    }

    .input-section input, .input-section button {
        width: 100%;
        margin-bottom: 10px;
    }

    table {
        font-size: 14px;
    }
}
